h1{
    text-align: center;

    font-family: Tahoma, Verdana, 'Trebuchet MS';
}
body{
    background-color: #DCDCDC;
}
img{
    width: 300px;
    height: auto;

}
h2{
    font-family: Tahoma, Verdana, 'Trebuchet MS';
}
.Des{
    width: 300px;
    display: inline-block;
}
